.header {
    padding: 20px;
    height: 75px;
    font-size: 20px;
    background-color: rgb(21, 21, 21);
}

.card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid {
    padding: 20px 25px;
}

.name-link {
    text-decoration: none;
}

